# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log
logs/

# Системные файлы Windows
Thumbs.db
Desktop.ini

# Зависимости
node_modules/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Временные файлы
*.tmp
*.temp